# Monday

## Comments and Basic Data Types
- Comments are notes that aren't run as part of code but note that explains the intent of the code or any instruction that the programmer wish to comment about the code
- `#` The hash symbol, under jupyter notebook, code cells is used to  make comment to explain
- Multiple lines comments are done with three quotation symbols e.g: 
`""" 
This is multi-line comment
"""`
### Data Type
- **Integers** : This is also called `int`, They are positive and negative whole number

In [1]:
print(22)
print(10)

22
10

- **Floats** : `float` is a number with decimal points. e.g

In [2]:
print(10.953)

10.953

- **Booleans**: This a data type of `TRUE` or `FALSE`. E.g

In [3]:
print(True)
print(False)

True
False

- **String**: This data type are essentially sets of  `characters, symbols, numbers, whitespace,empty space between two quotes` the following are strings

In [4]:
print('Code is the live blood of 21st Century innovation')
print(" ")
print('I Love Coding')

Code is the live blood of 21st Century innovation

I Love Coding

In [5]:
print(type(int))

<class 'type'>

# Tuesday

### Variables
- variable are used to save values into memory using a name of our choice. These values can be accessed and retrieved for future application
- a variable is declared in this manner:

In [1]:
firs_name = 'John'

- Variable name can contain underscore, letters and number but they cannot start with number
### Integer and Float Variable

In [2]:
num1 = 5
num2 = 8.4
print(num1,num2)

5 8.4

### Boolean Variable

In [3]:
switch = True
print(switch)

True

### String Variable

In [4]:
# storing string into a variable
name = 'John Smith'
fav_number = '19'
print(name, fav_number)

John Smith 19

### Using Multiple Variable
- mathematical operations can be done on variables

In [5]:
result = num1 + num2
print(result)

13.4

### Using operators on Numerical Variable
- like calculator we can use python to alter any variable

In [6]:
# adding, deleting, multiplying, dividing from a variable
result += 1 #same as saying result = result + 1
result *= num1 #same as saying result = result * num1
print(result)

72.0

### Overwriting previously created variable
- By redeclaring a variable we can change the value of variable

In [7]:
#defining a variable and overwriting it's value
name = 'John'
print(name)
name = 'Sam'
print(name)

John
Sam

### Whitespace
- character used for spacing.It is also called "empty"

In [8]:
name = "John Smith"

In [12]:
### Exercise
x = 3
y = 10 
result = y * x
print(result)

width = 245.54
height = 13.66
area = width * height
print(area)

30
3354.0764